<div class="container tasks-container">
  <div class="row justify-content-center">
    <div class="col-md-6">
        <%= form_with model: @task do |f| %>
      <p class="text-center"><%= f.label :title %></p>
      <p class="text-center"><%= f.text_field :title %></p>
      <p class="text-center"><%= f.label :detailse %></p>
      <p class="text-center"><%= f.text_area :details %></p>
      <div class="text-center">
       <p class="text-center"><%= f.submit %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
